<!-- header.component.html -->
<header class="app-header">
  <div class="logo">
    🛒 SmartCart
  </div>

  <nav class="nav-links">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home 🏠</a>
    <a routerLink="/shopping-list" routerLinkActive="active">Shopping List 📋</a>
    <a routerLink="/cart" routerLinkActive="active">AI Suggestions 🤖</a>
    <a routerLink="/history" routerLinkActive="active">History 📊</a>
    <a routerLink="/profile" routerLinkActive="active">Profile 👤</a>
  </nav>

  <div class="actions">
    <input type="text" placeholder="Search..." class="search-box" />

   @if (!authService.isUserLoggedIn()) {
    <button class="login-btn" routerLink="/login">
      Login
    </button>
    <button class="register-btn" routerLink="/register">
      Register
    </button>
    }

    @if (authService.isUserLoggedIn()) {
    <button class="register-btn" (click)="logout()">
      Logout
    </button>
    }

  </div>
</header>