<header class="app-header">
  <div class="logo">
    🛒 SmartCart
  </div>

  <!-- Hamburger (mobile only) -->
  <button class="hamburger" (click)="toggleMenu()">
    ☰
  </button>

  <nav class="nav-links" [class.open]="isMenuOpen">
    <a routerLink=""
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       (click)="closeMenu()">Home 🏠</a>

    <a routerLink="/shopping-list"
       routerLinkActive="active"
       (click)="closeMenu()">Shopping List 📋</a>

    <a routerLink="/ai-suggestions"
       routerLinkActive="active"
       (click)="closeMenu()">AI Suggestions 🤖</a>

    <a routerLink="/history"
       routerLinkActive="active"
       (click)="closeMenu()">History 📊</a>

    <a routerLink="/profile"
       routerLinkActive="active"
       (click)="closeMenu()">Profile 👤</a>
  </nav>

  <div class="actions" [class.open]="isMenuOpen">
    <input type="text" placeholder="Search..." class="search-box" hidden/>

    @if (!(isLogin$ | async)) {
      <button class="login-btn" routerLink="/login" (click)="closeMenu()">Login</button>
      <button class="register-btn" routerLink="/register" (click)="closeMenu()">Register</button>
    }

    @if (isLogin$ | async) {
      <button class="register-btn" (click)="logout()">Logout</button>
    }
  </div>
</header>
