.sga-container {
    max-width: 1200px;
    margin: 1.25rem auto;
    padding: 0 1rem;
}

.sga-title {
    margin: 3rem 0 3rem 0;
    font-size: 1.50rem;
    font-weight: 550;
    color: #14532d;
    /* deep green */
}

.sga-accordion {
    display: grid;
    gap: 12px;
}
.add-shopping-button-row{
    display: flex;
    margin-bottom: 2%;
    justify-content: right;
    margin-top: -3%;
}

.add-shopping {
  background-color: #22c55e !important; /* green */
  color: white !important;
  border-radius: 8px !important;
}


/* ===== Overlay background ===== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 32, 0.55);
  backdrop-filter: blur(2px);
  z-index: 99;
  animation: fadeIn 0.3s ease forwards;
}

/* ===== Popup window ===== */
.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  z-index: 100;
  width: 95%;
  max-width: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: popIn 0.25s ease forwards;
}


/* ===== Animations ===== */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes popIn {
  from {
    opacity: 0;
    transform: translate(-50%, -46%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
