<div class="sga-container">
    <h2 class="sga-title">{{pageName()}}</h2>

    <section>      
        <div class="add-shopping-button-row">
            <app-search class="add-shopping-search" (queryChange)="onQueryChange($event)"></app-search>
            <button mat-raised-button class="add-shopping" (click)="openCreateListDialog()">
                Create List
            </button>
        </div>
    </section>

    <mat-accordion class="sga-accordion" multi>

        @if (filteredcategories$ |async; as categories) {
            @if (categories.length > 0) {
                @for (item of filteredcategories$ | async; track $index) {
                    <app-shopping-list [categoryDetails] = item (updateCategoryDialog)="openUpdateListDialog($event)" (deleteShoppingList)="deleteCategory($event)"/>
                }
            }
            @else {
                <p class="muted muted-state">No shopping lists found 🛒</p>
            }
        }       

    </mat-accordion>

    @if (createShoppingList()) {
    <ng-container>
        <div class="modal-overlay" (click)="openCreateListDialog()"></div>

        <div class="modal-layer">
            <div class="modal-window">
                <app-shopping-list-form (toggleCategoryDialog) = openCreateListDialog() [categoryData] = "category$ |async"></app-shopping-list-form>
            </div>
        </div>
    </ng-container>
    }

</div>
