.example-card {
  max-width: 400px;
}

.high-piority{
  border: 1.5px solid #ef5350;
}

.shopping-list-date{
  font-size: smaller;
  display: flex;
  justify-content: right;
  margin-right: 5%;
  margin-bottom: 2%;
}

.delete-item{
  color: red;
}
.buy-item{
  color: #15803d;
}