<mat-expansion-panel class="sga-panel" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header class="sga-header" [ngClass]="{ 'is-open': panelOpenState() }">
        <mat-panel-title class="title-with-icon">
            <mat-icon fontIcon="{{categoryDetails.icon}}" aria-hidden="true"></mat-icon>
            <span [ngClass]="{
                'category-archived': categoryDetails.status != 'active'
            }">{{ categoryDetails.categoryName  }}
            </span>
        </mat-panel-title>
        <mat-panel-description [ngClass]="{
                'category-archived': categoryDetails.status != 'active'
            }">
            {{categoryDetails.description|slice:0:100 | titlecase}}
            @if((categoryDetails.description?.length ?? 0) > 100){
            <span>...</span>
            }
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="sga-body">
        <section>
            <div class="add-shopping-item-button-row">
                <button mat-raised-button class="add-shopping" (click)="openCreateItemDialog()">
                    Add Item
                </button>
                <button mat-raised-button class="update-category" (click)="openupdateCategoryDialog()">
                    Edit Category
                </button>
                <button mat-raised-button class="delete-category" (click)="deleteCategory()">
                    Delete Category
                </button>
            </div>
        </section>

        <div class="shopping-item-row">
            @for (item of shoppingItemsDetails; track $index) {
            <app-shopping-item [shoppingItemDetails]="item"
                (toggleOpenCardItemDialog)="toggleOpenCardItemDialog($event)">
            </app-shopping-item>
            }
        </div>

        <div class="shopping-list-date">
            <span class="shopping-list-create-date">Created: {{ categoryDetails.createdAt | date: 'short'}}</span>
            <span class="shopping-list-update-date">Updated: {{ categoryDetails.updatedAt | date: 'short'}}</span>
        </div>

    </div>
</mat-expansion-panel>


@if (createShoppingItem()) {
<ng-container>
    <div class="modal-overlay" (click)="openCreateItemDialog()"></div>

    <div class="modal-layer">
        <div class="modal-window">
            <app-shopping-list-item-form [shoppingItemDetails]="shoppingItemDetails"
                (toggleOpenCreateItemDialog)="toggleOpenCreateItemDialog($event)"></app-shopping-list-item-form>
        </div>
    </div>
</ng-container>

}
